.first-section {
  background-color: #ea2225 !important;
}

.align-items-center .card-body img {
  width: 100%;
  height: 100%;
}

.bg-secondary img {
  width: 100%;
}

.last-section {
  width: 50%;
}
